<div class="toolbar">
  <img class="hints" src="images/hints.png"/>
  <img class="tools-img" src="images/toolbar5002.png"/>
  <div class="toolbar-postit" ng-class="{bigPostit: showBigPostit}">
    <img class="toolbar-postit"  src="images/postit.png"/>
    <form ng-submit="savePostit()" class="tools">
      <input tabindex="1" ng-model="newPostit.title" class="input-title postit-title" placeholder="Title"/>
      <textarea tabindex="1" ng-model="newPostit.description" rows="3" placeholder="Description"></textarea>
      <select tabindex="1" name="color" class="menu" ng-model="newPostit.color" ng-options="color as (color | titlecase) for color in colors">
      </select>
      <select tabindex="1" name="category" ng-required class="menu" ng-model="newPostit.category" ng-class="{categorySelectionError: showCategorySelectionError}" ng-options="category.name for category in categories">
        <option value="">-- category --</option>
      </select>
      <br>
      <span class="button-bar">
        <button tabindex="2" class="button" type="button" ng-click="resetForm()"><span class="glyphicon glyphicon-remove"></span></button>
        <button tabindex="1" class="button" type="submit"><span class="glyphicon glyphicon-ok"></span></button>
      </span>
    </form>
  </div>

  <span ng-click="showBigPostit = !showBigPostit" ng-hide="showBigPostit" class="postit-click-area"></span>
  <span ng-click="createCategory()" class="category-click-area"></span>
</div>

